{% extends "index.html" %}
{% block content %}
{% include "header.html" %}
<div class = "flash">
    {% with messages = get_flashed_messages() %}
    {% if messages %}

    <ul>
        {% for message in messages %}
        <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

</div>
<section class="row banner main col-md-4 padding-bottom">
    <section class="row padding-top col-md-8 padding-bottom">
        <h1>Item Categories</h1>
        <section class="row padding-top col-md-8 padding-bottom">
        {% for cat in category_list %}
        <a href="{{url_for('show_all_cat_items', category=cat.name)}}">{{cat.name}}</a>
        {% endfor %}
        </section>
    </section>
</section>
<section class="row banner main col-md-4 padding-bottom">
    <section class="row padding-top col-md-8 padding-bottom">
        {% if 'username' in session %}
        <a href="{{url_for('new_item')}}">Add Item</a>
        {% endif %}
        <h1>Latest Additions</h1>
        {% for i in items %}
        <div class="category-item">
        <a href="{{ url_for('show_cat_item', slug = i.slug) }}">{{ i.title }}</a>
        </div>
        {% endfor %}
    </section>
</section>
{% endblock %}
