{% extends "index.html" %}
{% block content %}
<div class="row ml-0">
    <div class="row col-md-4 padding-bottom ml-0">
        <h1>{{category.name}}</h1>
        <div class="row col-md-12 ">
            <div class="category-entity list-group list-group-flush">
                {% if 'username' in session %}
                <a class="list-group-item" href="{{url_for('new_item')}}">Add Item</a>
                <a class="list-group-item" href="{{url_for('delete_cat', cat_slug=category.slug)}}">Delete Category</a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row col-md-8">
        <h1>Items</h1>
        <div class="row padding-top col-md-12 padding-bottom">
            <div class="category-entity list-group list-group-flush">
                {% for i in items %}
                <a class="list-group-item" href="{{url_for('show_cat_item', item_slug=i.slug)}}">{{i.title}}
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
