{% extends "index.html" %}
{% block content %}
{% include "header.html" %}
<div class = "flash">
    {% with messages = get_flashed_messages() %}
    {% if messages %}

    <ul>
        {% for message in messages %}
        <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

</div>
<section class="row banner main col-md-4 padding-bottom">
    <section class="row padding-top col-md-8 padding-bottom">
        <h1>{{category.name}}</h1>
        <section class="row padding-top col-md-8 padding-bottom">
        </section>
    </section>
    <section class="row padding-top col-md-8 padding-bottom">
        {% if 'username' in session %}
        <a href="{{url_for('new_item')}}">Add Item</a>
        {% endif %}
        <h1>Items</h1>
        {% for i in items %}
        <a href="{{url_for('show_cat_item', catgegory.name, i.name)}}">{{cat.name}}
        </a>
        {% endfor %}
    </section>
</section>
{% endblock %}
