{% extends "index.html" %}
{% block content %}
<div class = "flash">
    {% with messages = get_flashed_messages() %}
    {% if messages %}

    <ul>
        {% for message in messages %}
        <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

</div>
<section class="row banner main col-md-12 padding-bottom ml-0 text-center">
    <section class="col-md-3 padding-bottom">
    </section>
    <section class="col-md-6 padding-bottom">
        <h1>{{item.title}}</h1>
        <section class="text-left">{{item.description}}</section>
        {% if 'username' in session %}
        </br>
        <section class="edit-delete col-md-12 padding-bottom">
            <a href="{{url_for('edit_cat_item', item_slug=item.slug) }}">
                <button class="btn btn-default" id="edit-catalog-item">Edit Item
                </button>
            </a>
            <a href="{{url_for('delete_cat_item', item_slug=item.slug )}}">
                <button class="btn btn-default delete" id="delete-catalog-item">Delete Item
                </button>
            </a>
        </section>
        {% endif %}
    </section>
    <section class="row padding-top col-md-3 padding-bottom">
    </section>
</section>
{% endblock %}
