{% extends "index.html" %}
{% block content %}
{% include "header.html" %}
	<div class="row divider cyan">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner menu">
		<div class="col-md-11 col-md-offset-1 padding-none">
			<h1>Edit Item</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-1 padding-top">
			<form action="#" method = "post" style="display:inline">
				<div class="form-group">
					<label for="name">Name:</label>
					<input type ="text" maxlength="32" class="form-control" name="title" placeholder="{{item.title}}" required>

					<label for="description">Description:</label>
					<textarea class="form-control" maxlength="250" rows="3"
                                                                   name="description"
                                                                   required>{{item.description}}</textarea>

                    <label for="currentCategory">Current Category: {{category.name}}</span>
                    </br>
                    <button id="btn-change-cat" type="button" class="btn btn-default" onclick="showCategoryOptions()">Change Category</button>
                    </br>
                    <div id="edit-category" style="display:none;"></div>
                    </br>
					<button type="submit" class="btn btn-default" id="submit" type="submit">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Edit</button>
				</div>
			</form>
            <a href = '{{url_for('show_cat_item', item_slug=item.slug)}}'>
                <button class="btn btn-default delete">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>Cancel</button>
            </a>
		</div>
	</div>
{% endblock %}

