<html>
    <head>
        <script src="https://apis.google.com/js/client:platform.js?onload=start" async defer></script>
        <script>
            function start() {
                gapi.load('auth2', function() {
                    auth2 = gapi.auth2.init({
                        client_id : '{{clientId}}',
                        scope : 'openid email',
                        approval_prompt : 'force',
                        cookie_policy : 'single_host_origin',
                        access_type : 'offline',
                    });
                });
            }
        </script>
    </head>
    <body>
        <!-- Google OAuth login section -->
        <h1><strong>TODO: Make this page a bit prettier</strong></h1>
        <button id="signinButton">Sign in with Google</button>
        <div id="result"></div>
        <script>
            // Since this is in an iframe now, we have to use the parent's
            // jquery instance
            $ = parent.$
            $('#signinButton').click(function() {
                function signInCallback(authResult){
                    if (authResult['code']) {
                        // hide the sign in button now that we're auth'd
                        $('#signinButton').attr('style', 'display:none');

                        // Send token to server
                        $.ajax({
                            type : 'POST',
                            url : '/login?state={{STATE}}',
                            headers : {
                                'X-Requested-With' : 'XMLHttpRequest'
                            },
                            contentType : 'application/octet-stream;, charset=utf-8',
                            success : function(result) {
                                $('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...')
                                setTimeout(function() {
                                    window.location.href = "/";
                                }, 2000);
                            },
                            processData : false,
                            data : authResult['code']
                        });
                    }
                    else {
                        // error in getting the token
                        console.log('There was an error: '+ authResult['error']);
                        $('#result').html('Failed to make a server-side call. Check your configuration and console.');
                    }
                }
            auth2.grantOfflineAccess().then(signInCallback);
        });
        </script>
    </body>
</html>
