{% extends "index.html" %}
{% block content %}
{% include "header.html" %}
	<div class="row divider cyan">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner menu">
		<div class="col-md-11 col-md-offset-1 padding-none">
			<h1>New Catalog Item</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-1 padding-top">
			<form action="#" method = "post">
				<div class="form-group">
					<label for="name">Name:</label>
					<input type ="text" maxlength="32" class="form-control" name="title" placeholder="Item name" required>

					<label for="description">Description:</label>
					<textarea class="form-control" maxlength="250" rows="3" name="description" placeholder="Description of the item" required></textarea>

					<label for="category">Category:</label>
                    </br>
                    <select name="category_select" id="category_select" onchange="optionHandler()">
                        <option value="temp_cat">temp cat</option>
                        {% for c in category_list%}
                        <option name="{{ c.name }}">{{ c.name }}</option>
                        {% endfor %}
                        <option value="new_cat">-- Add a new category --</option>
                    </select>
                    </br>
					<button type="submit" class="btn btn-default" id="submit" type="submit">
					</span>Create</button>
				</div>
			</form>
		</div>
	</div>
{% endblock %}

